.cart-item {
  font-family: "sf pro display";
  display: flex;
  width: 18rem;
  gap: 0.8rem;
  padding: 0.5rem;
  padding-block: 2em;
  height: auto;
  .left-item {
    position: relative;
    width: 100px;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }img:hover{
        scale: 1.4;
        transition: all .5s ease-in-out;
    }
  }
  .right-item {
    width: 200px;
    height: auto;
    .title {
      padding: 0;
      margin: 0;
    }
    .action-buttons {
      .action-button {
        all: unset;
        position: relative;
        padding: 0.1rem 0.5rem;
        border: 0.01px solid black;
        border-radius: 0.2rem;
        margin-inline: 0.1rem;
        z-index: 99;
        overflow: hidden;
        cursor: pointer;
      }
      // .action-button::before{
      //     content: " ";
      //     position: absolute;
      //     left:0;
      //     top: -100%;
      //     width: 100%;
      //     height: 100%;
      //     background-color: rgb(62, 213, 160);
      //     z-index: 999;
      //     transition: all .09s ease-in-out;

      // }.action-button:hover::before{
      //     transform: translateY(101%);
      // }
    }
  }
}
